<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="Style.css" />
        <title>Devialet | Metier 3</title>
        <link rel="icon" type="image/png" href="./Images/JPEG/LogoOnglet.png" sizes="16x16">

    </head>

    <body>

        <header>
            
            <a href="../index.php"><img src="./Images/JPEG/LogoN.png" alt="LogoDevialet"></a>
            
            <div id="MenuBurger">

                <img src="./Images/JPEG/LogoN2.png" alt="LogoDevialet">

                <input id="Nav_Check" type="checkbox" />

                <ul id="MenuB">
                    <li><a href="../index.php">ACCUEIL</a></li>
                    <li><a href="./Produit.html">PRODUIT</a></li>
                    <li><a href="./Presse.html">PRESSE</a></li>
                    <li><a href="./Equipe.html">EQUIPE</a></li>
                    <li><a href="./Contact.html">CONTACT</a></li>
                    <li><a href="./Rejoindre.html">NOUS REJOINDRE</a></li>
                    <li><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </div>

            <nav>
                <ul>
                    <li id="Produit"><a href="./Produit.html">PRODUIT</a></li>
                    <li id="Presse"><a href="./Presse.html">PRESSE</a></li>
                    <li id="Equipe"><a href="./Equipe.html">EQUIPE</a></li>
                    <li id="Contact"><a href="./Contact.html">CONTACT</a></li>
                    <li id="Rejoindre"><a href="./Rejoindre.html">NOUS REJOINDRE</a>
                        <div class="submenu">
                            <div id="metier_1"><a href="./metier_1.html">● Métier 1 ●</a></div>
                            <div id="metier_2"><a href="./metier_2.html">● Métier 2 ●</a></div>
                            <div id="metier_3"><a href="./metier_3.html">● Métier 3 ●</a></div>
                            <div id="metier_4"><a href="./metier_4.html">● Métier 4 ●</a></div>
                        </div>
                    </li>
                    <li id="FAQ"><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </nav>

        </header>

        <div class="Holygrail-body">

        <aside class="Holygrail-asideleft">
                            
        </aside>

        <main class="Holygrail-main">

            <div class="metier">
                <img src="./Images/JPEG/IngeSon.jpg">
                <h1>Ingénieur / Ingénieure du son</h1>
                <div class="IntroMetier">
                    <p>  
                        L'ingénieur du son ou chef opérateur son, est un technicien spécialiste des métiers et équipements relatifs à la production sonore. Il est ainsi chargé d'enregistrer, de garantir la qualité de l'enregistrement et d'effectuer le mixage de programmes sonores ou musicaux. Artiste et technicien, il associe souvent les hautes technologies à la pratique musicale. Il exerce alors au service des métiers du cinéma, de la production artistique, du théâtre ou encore des spectacles en salle.
                    </p>
                    <p>
                        Comment devenir Ingénieur du son ? Retrouvez ici les missions, formation nécessaire, rémunération de cette profession.
                    </p>
                </div>
                <h2>Mission du métier : Ingénieur du son</h2>
                <p>
                    <strong>L'ingénieur du son</strong> est responsable de la gestion du son dans divers champs d'activités. Il peut s'agir du cinéma (il est alors désigné comme chef-opérateur du son), de la musique, de la radio, du spectacle ou de la télévision. L'appellation <strong>ingénieur du son</strong> n'opère pas de distinction entre les différents échelons de responsabilité. En effet, on appelle ingénieur du son tout professionnel travaillant avec la console gérant le son. Or, le technicien, l'assistant, l'opérateur ou encore le chef opérateur ont tous les quatre accès à  cet appareil, bien qu'ils disposent de statuts hiérarchiques différents.
                </p>
                <p>Les missions professionnelles du <strong>technicien du son</strong> sont les suivantes :</p>
                <ul>
                    <li>Lorsqu'il travaille dans le <strong>secteur du cinéma</strong>, son rôle est d'épurer le champ sonore de toutes les nuisances qui viennent perturber la clarté des dialogues.</li>
                    <li>Il est également chargé de reconstituer avec réalisme les bruitages et la bande-originale déterminés au préalable. Cet « habillage sonore» passe par la mise en place d'une multitude de détails et d'arrangements techniques.</li>
                    <li>Selon les instructions du réalisateur et les conditions de tournage, il détermine les types de micro et opère des prises de sons nécessaires à  l'adaptation de l'environnement sonore. </li>
                    <li>En studio, le <strong>chef preneur de son</strong> orchestre véritablement la prise de vie de l'album de musique en retravaillant minutieusement les pistes au mixage et en remodelant leur tonalité. Il effectue également un travail d'homogénéisation de l'ensemble de l'album audio, de façon à  créer une empreinte particulière propre à  la personnalité de l'artiste produit.</li>
                </ul>
                <h2>Devenir Ingénieur du son : Qualités requises</h2>
                <p>
                    L'ingénieur du son dispose d'un savoir-faire dual, aussi bien technique qu'artistique et musical. Ses compétences en technologie du son sont extrêmement développées, alors que la révolution numérique a grandement modifié le monde de l'audio. Ces progrès innovants ont rendu <strong>les ingénieurs du son</strong> plus polyvalents et enclins à exercer des tâches en lien avec l'image. Un <strong>bon ingénieur du son</strong> doit appréhender ces mutations technologiques récurrentes et s'y adapter. Des connaissances générales en matière d'acoustique, de musique ou de théorie du signal sont grandement appréciables. Quelles que soient ces qualifications dans le domaine musical, il doit impérativement disposer d'une oreille fiable, d'une culture artistique extrêmement développée et de bases solides en électronique et en informatique.
                </p>
                <p>
                    Ce métier demande par ailleurs une grande disponibilité. Les horaires sont généralement extensibles, particulièrement pour les enregistrements en studio.
                </p>
                <h2>Ingénieur du son : carrière / possibilité d’évolution :</h2>
                <p>
                    <strong>L'ingénieur du son</strong> est en général au plus haut de la hiérarchie du personnel des techniciens du son. Il peut néanmoins être possible pour lui de devenir producteur au cours de sa carrière.
                </p>
                <div class="salaire">
                <h2 class="salaire">Salaire brut mensuel d'un débutant : </h2>
                <span>
                    1650 €
                </span>
                </div>
                <h2>Devenir Ingénieur du son : formation nécessaire</h2>
                <p>
                    En France, il n'existe pas de diplôme spécifique délivrant la formation requise pour accéder à ce poste. Cependant, il semble important d'acquérir certains fondements via un enseignement pluridisciplinaire. Ces formations vont de bac +2 à bac +5. Dans la profession, une expérience professionnelle multiple (stages, contrats à durée déterminée, vacations) offre une importante plus-value au profil de l'apprenti en venant compléter sa formation initiale.
                </p>
                <p>
                    L'École nationale supérieure des métiers de l'image et du son (ENSMIS) et l'École nationale supérieure Louis Lumière offrent en France les formations techniques les plus poussées. Le recrutement, sur concours, pour ces instituts est néanmoins très sélectif. L'École nationale supérieure des arts et techniques du théâtre de Lyon constitue également un bon établissement pour suivre une formation relative à <strong>l'ingénierie du son</strong>.
                </p>
                <p>
                    Outre ces écoles, des cursus universitaires niveau licence ou master professionnels existent.
                </p>
                <h2>Situation du métier / contexte pour devenir Ingénieur du son</h2>
                <p>
                    Bien que passionnant, le métier <strong>d'ingénieur du son</strong> est relativement précaire sur le plan statutaire. Il possède la plupart du temps le statut d'intermittent du spectacle et les contrats à durée déterminée (CDD) peuvent parfois se succéder et laisser place à de longues périodes de chômage. Précisons qu'il est rémunéré de façon hebdomadaire.
                </p>
            </div>
            <div class="boutonPostuler">
                <a href="postuler_m1.html">Postuler</a>
            </div>

        </main>

        <aside class="Holygrail-asideright">
        
        </aside>

        </div>

        <footer>
            <p>Contactez nous via le <strong><a href="./Contact.html">formulaire</a></strong>, par <strong>téléphone au 0123456789</strong> ou retrouvez nous directement en <strong><a href="./Boutique.html">boutique</a></strong>.</p>
            <hr>
            <div>
                <ul class="Réseau">
                    <li>Rejoignez nous</li>
                    <li><a href="https://www.facebook.com/DevialetGlobal/"> <img src="Images/JPEG/facebook.png" alt="facebook entreprise" /> </a></li>
                    <li><a href="https://twitter.com/devialet"> <img src="Images/JPEG/twitter.png" alt="twitter entreprise" /> </a></li>
                    <li><a href="https://www.linkedin.com/uas/login"> <img src="Images/JPEG/linkedin.png" alt="linkedin entreprise" /> </a></li>
                </ul>
                <div id="newletters">
                    <form>
                        <p>Newsletters</p>
                        <ul id="casenews">
                            <li><input type="email" name="email" placeholder="mail@domaine.com" id="mail"></li>
                            <li><input type="submit" id="submit" value="➤"></li>
                        </ul>
                    </form>
                </div>
            </div>

            <p id="copyright"> © 2019 Devialet All right reserved - Legal notices  </p>
            
        </footer>

    </body>

</html>