<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="Style.css" />
        <title>Devialet | Metier 4</title>
        <link rel="icon" type="image/png" href="./Images/JPEG/LogoOnglet.png" sizes="16x16">

    </head>

    <body>

        <header>
            
            <a href="../index.php"><img src="./Images/JPEG/LogoN.png" alt="LogoDevialet"></a>

            <div id="MenuBurger">

                <img src="./Images/JPEG/LogoN2.png" alt="LogoDevialet">

                <input id="Nav_Check" type="checkbox" />

                <ul id="MenuB">
                    <li><a href="../index.php">ACCUEIL</a></li>
                    <li><a href="./Produit.html">PRODUIT</a></li>
                    <li><a href="./Presse.html">PRESSE</a></li>
                    <li><a href="./Equipe.html">EQUIPE</a></li>
                    <li><a href="./Contact.html">CONTACT</a></li>
                    <li><a href="./Rejoindre.html">NOUS REJOINDRE</a></li>
                    <li><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </div>

            <nav>
                <ul>
                    <li id="Produit"><a href="./Produit.html">PRODUIT</a></li>
                    <li id="Presse"><a href="./Presse.html">PRESSE</a></li>
                    <li id="Equipe"><a href="./Equipe.html">EQUIPE</a></li>
                    <li id="Contact"><a href="./Contact.html">CONTACT</a></li>
                    <li id="Rejoindre"><a href="./Rejoindre.html">NOUS REJOINDRE</a>
                        <div class="submenu">
                            <div id="metier_1"><a href="./metier_1.html">● Métier 1 ●</a></div>
                            <div id="metier_2"><a href="./metier_2.html">● Métier 2 ●</a></div>
                            <div id="metier_3"><a href="./metier_3.html">● Métier 3 ●</a></div>
                            <div id="metier_4"><a href="./metier_4.html">● Métier 4 ●</a></div>
                        </div>
                    </li>
                    <li id="FAQ"><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </nav>

        </header>

        <div class="Holygrail-body">

        <aside class="Holygrail-asideleft">
                            
        </aside>

        <main class="Holygrail-main">

            <div class="metier">
                <img src="./Images/JPEG/devC.png">
                <h1 >Programmeur C / C++</h1>
                <div class="IntroMetier">
                    <p>  
                        Adepte des langages informatiques, le programmeur C / C++ est chargé de programmer de nombreux logiciels informatiques afin que ces derniers répondent précisément aux attentes de ses clients. Autonomie et connaissance parfaite des langages informatiques sont les maîtres mots de ce métier très technique.
                    </p>
                    <p>
                        Comment devenir Programmeur C / C++ ? Retrouvez ici les missions, formation nécessaire, rémunération de cette profession.
                    </p>
                </div>
                <h2>Mission du métier : Programmeur C / C++</h2>
                <p>
                    La <strong>mission d'un programmeur C / C++ </strong>peut être décrite en trois étapes chronologiques, chacune indispensable pour pouvoir garantir la qualité de son travail. Le programmeur informatique doit donc réaliser :
                </p>
                <ul>
                    <li><strong>L'analyse du projet</strong> qui lui est confié, afin de cerner les besoins des utilisateurs et les attentes du client. Il s'appuie généralement pour cela sur un cahier des charges ; </li>
                    <li><strong>la programmation du logiciel</strong> qui lui est demandé, en détaillant notamment les lignes de codes informatiques que l'ordinateur pourra ensuite déchiffrer ; </li>
                    <li><strong>le test de son programme</strong> ou de son application pour en vérifier le bon fonctionnement, et apporter en toute fin de projet une notice technique d'installation et un guide d'utilisation. </li>
                </ul>
                <h2>Devenir Programmeur C / C++ : Qualités requises</h2>
                <p>
                    Bien que des progiciels (logiciels standards prêts à être utilisés) permettent de simplifier et d'accélérer la tâche du programmateur C / C++, le métier de ce dernier tend à se complexifier. Une <strong>parfaite connaissance des outils et des langages de programmation</strong>, en particulier le langage C / C++, régulièrement mis à jour, sera donc indispensable à l'exercice de ce métier. Travaillant souvent seul, le programmeur C / C++ se doit également d'être <strong>autonome et particulièrement rigoureux</strong> dans son travail. Disponible, à l'écoute de ses clients, il apportera enfin un soin tout particulier à s'informer sur les clients avec lesquels il est amené à collaborer.
                </p>
                <h2>Programmeur C / C++ : carrière / possibilité d’évolution :</h2>
                <p>
                    Dans un <strong>milieu très concurrentiel</strong>, le métier de programmeur C  /C++ demeure difficilement accessible aux débutants, et une <strong>formation solide accompagnée d'expérience</strong> sera presque indispensable pour exercer ce métier au sein d'une entreprise ou pour une SSII (Société de services en ingénierie informatique). Pour les polyglottes, les pays étrangers peuvent se présenter comme des opportunités à saisir. Enfin, après quelques années à ce poste, le métier de <strong>chef de projet</strong> est l'évolution de carrière qui se présente le plus souvent aux anciens programmeurs C / C++.
                </p>
                <div class="salaire">
                <h2 class="salaire">Salaire brut mensuel d'un débutant : </h2>
                <span>
                    2000 €
                </span>
                </div>
                <h2>Devenir Programmeur C / C++ : formation nécessaire</h2>
                <p>
                    Bien qu'il soit possible d'exercer le métier de programmeur C / C++ à partir d'un diplôme de niveau Bac+2, les diplômes de niveau Bac+5 ont plus largement la cote auprès des recruteurs. La formation idéale d'un programmeur C / C++ se dessine ainsi :
                </p>
                <ul>
                    <li>un BTS ou DUT (Bac+2) dans le secteur de l'informatique ;</li>
                    <li>une licence professionnelle (Bac+3) en programmation et développement informatique ;</li>
                    <li>un master professionnel dans l'informatique voire, mieux encore, un diplôme de niveau Bac+5 obtenu dans une école d'ingénieurs ou une école spécialisée en informatique possédant une filière poussée en programmation (Limoges, Grenoble, Brest).</li>
                </ul>
                <h2>Situation du métier / contexte pour devenir Programmeur C / C++</h2>
                <p>
                    Le nombre d'offres d'emploi en tant que programmeur C / C++ est, en France, assez limité chaque année, et rares sont ceux arrivant fraîchement sur le marché de l'emploi, qui parviennent à décrocher un poste. <strong>Il est donc vivement conseillé aux potentiels candidats à ce poste, d'avoir une formation la plus complète et la plus prestigieuse possible</strong> pour pouvoir se positionner face à la concurrence. L'exercice en tant qu'indépendant, demeure possible mais la majorité des clients est déjà absorbée par les SSII.
                </p>
            </div>
            <div class="boutonPostuler">
                <a href="postuler_m2.html">Postuler</a>
            </div>

        </main>

        <aside class="Holygrail-asideright">
        
        </aside>

        </div>

        <footer>
            <p>Contactez nous via le <strong><a href="./Contact.html">formulaire</a></strong>, par <strong>téléphone au 0123456789</strong> ou retrouvez nous directement en <strong><a href="./Boutique.html">boutique</a></strong>.</p>
            <hr>
            <div>
                <ul class="Réseau">
                    <li>Rejoignez nous</li>
                    <li><a href="https://www.facebook.com/DevialetGlobal/"> <img src="Images/JPEG/facebook.png" alt="facebook entreprise" /> </a></li>
                    <li><a href="https://twitter.com/devialet"> <img src="Images/JPEG/twitter.png" alt="twitter entreprise" /> </a></li>
                    <li><a href="https://www.linkedin.com/uas/login"> <img src="Images/JPEG/linkedin.png" alt="linkedin entreprise" /> </a></li>
                </ul>
                <div id="newletters">
                    <form>
                        <p>Newsletters</p>
                        <ul id="casenews">
                            <li><input type="email" name="email" placeholder="mail@domaine.com" id="mail"></li>
                            <li><input type="submit" id="submit" value="➤"></li>
                        </ul>
                    </form>
                </div>
            </div>

            <p id="copyright"> © 2019 Devialet All right reserved - Legal notices  </p>
            
        </footer>

    </body>

</html>