<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="Style.css" />
        <title>Devialet Phantom</title>

    </head>

    <body>

        <header>
            
            <a href="../index.php"><img src="./Images/JPEG/LogoN.png" alt="LogoDevialet"></a>
            <img src="./Images/JPEG/Titre2N.png" alt="DEVIALET">

            <nav>
                <ul>
                    <li><a href="./Produit.html">PRODUIT</a></li>
                    <li><a href="./Presse.html">PRESSE</a></li>
                    <li><a href="./Equipe.html">EQUIPE</a></li>
                    <li><a href="./Contact.html">CONTACT</a></li>
                    <li><a href="./Rejoindre.html">NOUS REJOINDRE</a></li>
                    <li><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </nav>

        </header>

        <div class="Holygrail-body">

         <aside class="Holygrail-asideleft">
                            
        </aside>

        <aside class="Holygrail-asideright">
                
        </aside>

        <main class="Holygrail-main">


        </main>



        </div>

        <footer>
            

        </footer>


    </body>


</html>