<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="Style.css" />
        <title>Devialet | Presse</title>
        <link rel="icon" type="image/png" href="./Images/JPEG/LogoOnglet.png" sizes="16x16">

    </head>

    <body>

        <header>
            
            <a href="../index.php"><img src="./Images/JPEG/LogoN.png" alt="LogoDevialet"></a>

            <div id="MenuBurger">

                <img src="./Images/JPEG/LogoN2.png" alt="LogoDevialet">

                <input id="Nav_Check" type="checkbox" />

                <ul id="MenuB">
                    <li><a href="../index.php">ACCUEIL</a></li>
                    <li><a href="./Produit.html">PRODUIT</a></li>
                    <li><a href="./Presse.html">PRESSE</a></li>
                    <li><a href="./Equipe.html">EQUIPE</a></li>
                    <li><a href="./Contact.html">CONTACT</a></li>
                    <li><a href="./Rejoindre.html">NOUS REJOINDRE</a></li>
                    <li><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </div>

            <nav>
                <ul>
                    <li id="Produit"><a href="./Produit.html">PRODUIT</a></li>
                    <li id="Presse"><a href="./Presse.html">PRESSE</a></li>
                    <li id="Equipe"><a href="./Equipe.html">EQUIPE</a></li>
                    <li id="Contact"><a href="./Contact.html">CONTACT</a></li>
                    <li id="Rejoindre"><a href="./Rejoindre.html">NOUS REJOINDRE</a>
                        <div class="submenu">
                            <div id="metier_1"><a href="./metier_1.html">● Métier 1 ●</a></div>
                            <div id="metier_2"><a href="./metier_2.html">● Métier 2 ●</a></div>
                            <div id="metier_3"><a href="./metier_3.html">● Métier 3 ●</a></div>
                            <div id="metier_4"><a href="./metier_4.html">● Métier 4 ●</a></div>
                        </div>
                    </li>
                    <li id="FAQ"><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </nav>

        </header>

        <div class="Holygrail-body">

         <aside class="Holygrail-asideleft">
                            
        </aside>

        <main class="Holygrail-main">

            <h1 id="pressetitre">Actualite Devialet Paris</h1>
            <div class="statut">
                <h4>En ce moment</h4>
                <h4>Prochainement</h4>
            </div>
            <div class="actualité">
                <div class="moment">
                    <h5>En ce moment</h5>
                    <iframe src="https://www.youtube.com/embed/uaeTv4uuYXM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div>
                        <a href="https://www.devialet.com/fr-fr/story-freebox-delta-devialet/"><h3>Un son d'exception. Puissant. Immersif.</h3></a>
                        <span>04.12.2018</span>                        
                    </div>
                </div>
                <span></span>
                <div class="prochainement">
                    <div>
                        <h5>Prochainement</h5>
                        <div class="titre_prochainement">
                            <ul>
                                <li>Juin</li>
                                <li>16</li>
                            </ul>
                            <h2>World Cup At Printemps</h2>
                        </div>
                        <p>
                            Profitez du début de la Coupe du Monde sur Phantom ! Le premier match de la France contre l'Australie sera diffusé dans notre boutique de Printemps, et tout le monde est le bienvenu !
                        </p>
                    </div>
                    <span></span>
                    <div>
                        <div class="titre_prochainement">
                            <ul>
                                <li>Mai</li>
                                <li>17</li>
                            </ul>
                            <h2>Taste Of Paris Festival</h2>
                        </div>
                        <p>
                            Venez écouter le meilleur son du monde sur les stands des restaurants Frenchie et Antoine lors du Taste of Paris du 17 au 20 mai !
                        </p>
                    </div>    
                </div>                
            </div>
            <hr>
            <div class="article_container">
                <div class="articleligne">
                    <div class="article">
                        <span>09.05.2018</span>
                        <img src="./Images/JPEG/article1.jpg">
                        <div>
                            <h3>La DJ Trunk avec Louis Vuitton</h3>
                            <p>
                                Une DJ Trunk. C’est ce que nous avons conçu avec Louis Vuitton quand ils nous ont proposé de construire un projet ensemble, autour du voyage et ...
                            </p>
                            <a class="liresuite" href="https://www.devialet.com/fr-fr/story-louis-vuitton/">Lire la suite ➤</a>
                        </div>
                    </div>
                    <span class="separateur"></span>
                    <div class="article">
                        <span>01.01.2018</span>
                        <img src="./Images/JPEG/article2.jpg">
                        <div>
                            <h3>Gold Phantom Opera de Paris</h3>
                            <p>
                                Investir le Palais de Charles Garnier, créateur d’un chef d’œuvre acoustique et visuel, était un rêve. Aujourd’hui, notre présent se conjugue à celui ...
                            </p>
                            <a class="liresuite" href="https://www.devialet.com/fr-fr/gold-phantom-opera-national-de-paris/">Lire la suite ➤</a>
                        </div>
                    </div>
                </div>
                <div class="articleligne">
                    <div class="article">
                        <span>29.11.2017</span>
                        <img src="./Images/JPEG/article3.jpg">
                        <div>
                            <h3>La révolution phantom réinvente la voiture de demain</h3>
                            <p>
                                Aller toujours plus loin sur le chemin de l’innovation. Aujourd’hui, nous dépassons de nouvelles limites grâce à ...
                            </p>
                            <a class="liresuite" href="https://www.devialet.com/fr-fr/story-symbioz-demo-car/">Lire la suite ➤</a>
                        </div>
                    </div>
                    <span class="separateur"></span>
                    <div class="article">
                        <span>29.11.2017</span>
                        <img src="./Images/JPEG/article4.jpg">
                        <div>
                            <h3>Devialet invité à l'Opéra de Paris</h3>
                            <p>
                                C’était un rêve si grand qu’il était difficile d’y croire. Avec ambition et détermination, nous l’avons poursuivi pendant presque trois ans : investir ...
                            </p>
                            <a class="liresuite" href="https://www.devialet.com/fr-fr/story-opera-garnier/">Lire la suite ➤</a>
                        </div>
                    </div>
                </div>
                <div class="articleligne">
                    <div class="article">
                        <span>25.09.2017</span>
                        <img src="./Images/JPEG/article5.jpg">
                        <div>
                            <h3>Collaboration Devialet | Bureau Betak</h3>
                            <p>
                                Croire en l’impossible, vouloir sans cesse repousser les limites... la rencontre entre Quentin Sannié, CEO de Devialet et ...
                            </p>
                            <a class="liresuite" href="https://www.devialet.com/fr-fr/story-betak/">Lire la suite ➤</a>
                        </div>
                    </div>
                    <span class="separateur"></span>
                    <div class="article">
                        <span>23.09.2017</span>
                        <img src="./Images/JPEG/article6.jpg">
                        <div>
                            <h3>Avec National Sawdust, repousser les limites de la créativité</h3>
                            <p>
                                Le rêve américain continue avec le lancement d’une collaboration très spéciale restituant la magie de la performance en live aux ...
                            </p>
                            <a class="liresuite" href="https://www.devialet.com/fr-fr/story-national-sawdust/">Lire la suite ➤</a>
                        </div>
                    </div>
                </div>
                <div class="articleligne">
                    <div class="article">
                        <span>27.07.2017</span>
                        <img src="./Images/JPEG/article7.jpg">
                        <div>
                            <h3>Introducing Sky | Devialet</h3>
                            <p>
                                Dans le domaine de la télévision, l'audio est souvent relégué au second plan. Lorsque nous avons rencontré Sky, l'un des ...
                            </p>
                            <a class="liresuite" href="https://www.devialet.com/fr-fr/story-sky-devialet/">Lire la suite ➤</a>
                        </div>
                    </div>
                    <span class="separateur"></span>
                    <div class="article">
                        <span>09.05.2017</span>
                        <img src="./Images/JPEG/article9.jpg">
                        <div>
                            <h3>Phantom à la biennale de Venise</h3>
                            <p>
                                Etre là où l’on ne nous attend pas. Tout est parti d’une belle rencontre avec Xavier Veilhan, cet immense artiste aux démarches multiples, et l’un ...
                            </p>
                            <a class="liresuite" href="https://www.devialet.com/fr-fr/story-biennale-venise/">Lire la suite ➤</a>
                        </div>
                    </div>
                </div>
                <div class="articleligne">
                    <div class="articlevideo">
                        <iframe src="https://www.youtube.com/embed/JAXciw99ZFo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div>
                            <h3>Hear The Unheard</h3>
                            <span>26.07.2017</span>                            
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <aside class="Holygrail-asideright">
        
        </aside>

        </div>

        <footer>
            <p>Contactez nous via le <strong><a href="./Contact.html">formulaire</a></strong>, par <strong>téléphone au 0123456789</strong> ou retrouvez nous directement en <strong><a href="./Boutique.html">boutique</a></strong>.</p>
            <hr>
            <div>
                <ul class="Réseau">
                    <li>Rejoignez nous</li>
                    <li><a href="https://www.facebook.com/DevialetGlobal/"> <img src="Images/JPEG/facebook.png" alt="facebook entreprise" /> </a></li>
                    <li><a href="https://twitter.com/devialet"> <img src="Images/JPEG/twitter.png" alt="twitter entreprise" /> </a></li>
                    <li><a href="https://www.linkedin.com/uas/login"> <img src="Images/JPEG/linkedin.png" alt="linkedin entreprise" /> </a></li>
                </ul>
                <div id="newletters">
                    <form>
                        <p>Newsletters</p>
                        <ul id="casenews">
                            <li><input type="email" name="email" placeholder="mail@domaine.com" id="mail"></li>
                            <li><input type="submit" id="submit" value="➤"></li>
                        </ul>
                    </form>
                </div>
            </div>

            <p id="copyright"> © 2019 Devialet All right reserved - Legal notices  </p>
            
        </footer>

    </body>

</html>