<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="Style.css" />
        <title>Devialet | Produit</title>
        <link rel="icon" type="image/png" href="./Images/JPEG/LogoOnglet.png" sizes="16x16">

    </head>

    <body>

        <header>
            
            <a href="../index.php"><img src="./Images/JPEG/LogoN.png" alt="LogoDevialet"></a>

            <div id="MenuBurger">

                <img src="./Images/JPEG/LogoN2.png" alt="LogoDevialet">

                <input id="Nav_Check" type="checkbox" />

                <ul id="MenuB">
                    <li><a href="../index.php">ACCUEIL</a></li>
                    <li><a href="./Produit.html">PRODUIT</a></li>
                    <li><a href="./Presse.html">PRESSE</a></li>
                    <li><a href="./Equipe.html">EQUIPE</a></li>
                    <li><a href="./Contact.html">CONTACT</a></li>
                    <li><a href="./Rejoindre.html">NOUS REJOINDRE</a></li>
                    <li><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </div>

            <nav>
                <ul>
                    <li id="Produit"><a href="./Produit.html">PRODUIT</a></li>
                    <li id="Presse"><a href="./Presse.html">PRESSE</a></li>
                    <li id="Equipe"><a href="./Equipe.html">EQUIPE</a></li>
                    <li id="Contact"><a href="./Contact.html">CONTACT</a></li>
                    <li id="Rejoindre"><a href="./Rejoindre.html">NOUS REJOINDRE</a>
                        <div class="submenu">
                            <div id="metier_1"><a href="./metier_1.html">● Métier 1 ●</a></div>
                            <div id="metier_2"><a href="./metier_2.html">● Métier 2 ●</a></div>
                            <div id="metier_3"><a href="./metier_3.html">● Métier 3 ●</a></div>
                            <div id="metier_4"><a href="./metier_4.html">● Métier 4 ●</a></div>
                        </div>
                    </li>
                    <li id="FAQ"><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </nav>

        </header>

        <div class="Holygrail-body">

            <input id="Produit_Checkbox" type="checkbox">
            <div id="Produit_Transition">
                <div id="Produit_boite-video">
                    <video autoplay loop muted>
                        <source src="./Videos/Produit.webm" type="video/webm">
                        <source src="./Videos/Produit.mp4" type="video/mp4">
                    </video>
                </div>
                <div id="Produit_boite-arrow">
                    <img src="./Images/GIF/Arrow.gif">
                </div>
            </div>

            <aside class="Holygrail-asideleft">
        
            </aside>

            <main class="Produit_Holygrail-main">

                <h1> Ceci n'est pas une enceinte, c'est Phantom Premier.</h1>
                <div>
                    <img src="./Images/JPEG/Produit4.jpg" alt="Boom">
                    <ul> 
                        <li>Phantom Premier est unique. Bien plus qu'une enceinte connectée, Phantom Premier est une expérience émotionnelle intense et révolutionnaire, plug & play.</li>
                        <li>Pour la première fois, faites l'expérience d'un son ultra-dense à impact physique. Ressentez la musique avec une puissance, une netteté et une clarté jamais atteintes.</li>
                        <li>Chaîne Hi-Fi, dock, home cinéma. multi-room, sans fil, Bluetooth. Phantom Premier abolit tous les anciens systèmes.</li>
                    </ul>
                </div> 
                <hr>
                <h1>Le son déraisonnable. Implosif.</h1>
                <div>
                    <ul>
                        <li>Découvrez la splendeur de morceaux que vous avez déjà entendus mille fois grâce au son ultra-dense de Phantom.</li>
                        <li>Des infra-basses aux très aigus, une amplitude extraordinaire sans aucune distorsion, aucune saturation, aucun souffle, et ce jusqu'à 4 500 Watts et 108 décibels. L'émotion à l'état pur.</li>
                    </ul>
                    <img src="./Images/JPEG/Produit5.jpg" alt="Presentation">
                </div>
                <hr>
                <h1 >Au coeur de la révolution</h1>
                <div>
                    <img src="./Images/JPEG/Produit2.jpg" alt="Vue d'ensemble">
                    <ul>
                        <li>Phantom Premier illustre à lui seul l'idée de progrès à laquelle oeuvre Devialet: rendre plus accessible l'émotion du son haute-fidélité jusqu'alors réservé à une élite.</li>
                        <li>ADH®, SAM®, HBI®, ACE®... ses performances sont le fruit d'une combinaison d'inventions radicales brevetées, améliorant de 10 à 1000 fois les performances mesurées tout au long de la chaine de reproduction du son.</li>
                        <li>Les technologies Devialet changent à tout jamais l'univers du son.</li>
                    </ul>
                </div>
                <hr>
                <h1 >Une conception unique au monde.</h1>
                <div>
                    <ul>
                        <li>108 brevets, 12 kilos de haute technologie, 60 kilos de force de poussée des haut-parleurs de grave. Une pression acoustique interne de 174dB équivalente à celle d'une fusée au décollage.</li>
                        <li>La conception de Phantom Premier est une véritable prouesse technologique.</li>
                        <li>Une équipe de plus de 80 ingénieurs, experts dans les domaines de l'aéronautique, automobile, acoustique, mécanique, 10 ans de Recherche et Développement et 25 millions d'euros investis ont été nécessaires pour que Phantom puisse atteindre ces niveaux inégalés de contraintes physiques.</li>
                    </ul>
                    <img src="./Images/JPEG/Produit3.jpg" alt="Presentation">
                </div>
                <a class="a_rejoindre" href="../index.php?controller=produit&action=readAll">En acheter</a>
                <hr>
            </main>

            <aside class="Holygrail-asideright">
                
            </aside>

        </div>

        <footer>
            <p>Contactez nous via le <strong><a href="./Contact.html">formulaire</a></strong>, par <strong>téléphone au 0123456789</strong> ou retrouvez nous directement en <strong><a href="./Boutique.html">boutique</a></strong>.</p>
            <hr>
            <div>
                <ul class="Réseau">
                    <li>Rejoignez nous</li>
                    <li><a href="https://www.facebook.com/DevialetGlobal/"> <img src="Images/JPEG/facebook.png" alt="facebook entreprise" /> </a></li>
                    <li><a href="https://twitter.com/devialet"> <img src="Images/JPEG/twitter.png" alt="twitter entreprise" /> </a></li>
                    <li><a href="https://www.linkedin.com/uas/login"> <img src="Images/JPEG/linkedin.png" alt="linkedin entreprise" /> </a></li>
                </ul>
                <div id="newletters">
                    <form>
                        <p>Newsletters</p>
                        <ul id="casenews">
                            <li><input type="email" name="email" placeholder="mail@domaine.com" id="mail"></li>
                            <li><input type="submit" id="submit" value="➤"></li>
                        </ul>
                    </form>
                </div>
            </div>

            <p id="copyright"> © 2019 Devialet All right reserved - Legal notices  </p>
            
        </footer>

    </body>

</html>