<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="Style.css" />
        <title>Devialet | Rejoindre</title>
        <link rel="icon" type="image/png" href="./Images/JPEG/LogoOnglet.png" sizes="16x16">

    </head>

    <body>

        <header>
            
            <a href="../index.php"><img src="./Images/JPEG/LogoN.png" alt="LogoDevialet"></a>

            <div id="MenuBurger">

                <img src="./Images/JPEG/LogoN2.png" alt="LogoDevialet">

                <input id="Nav_Check" type="checkbox" />

                <ul id="MenuB">
                    <li><a href="../index.php">ACCUEIL</a></li>
                    <li><a href="./Produit.html">PRODUIT</a></li>
                    <li><a href="./Presse.html">PRESSE</a></li>
                    <li><a href="./Equipe.html">EQUIPE</a></li>
                    <li><a href="./Contact.html">CONTACT</a></li>
                    <li><a href="./Rejoindre.html">NOUS REJOINDRE</a></li>
                    <li><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </div>

            <nav>
                <ul>
                    <li id="Produit"><a href="./Produit.html">PRODUIT</a></li>
                    <li id="Presse"><a href="./Presse.html">PRESSE</a></li>
                    <li id="Equipe"><a href="./Equipe.html">EQUIPE</a></li>
                    <li id="Contact"><a href="./Contact.html">CONTACT</a></li>
                    <li id="Rejoindre"><a href="./Rejoindre.html">NOUS REJOINDRE</a>
                        <div class="submenu">
                            <div id="metier_1"><a href="./metier_1.html">● Métier 1 ●</a></div>
                            <div id="metier_2"><a href="./metier_2.html">● Métier 2 ●</a></div>
                            <div id="metier_3"><a href="./metier_3.html">● Métier 3 ●</a></div>
                            <div id="metier_4"><a href="./metier_4.html">● Métier 4 ●</a></div>
                        </div>
                    </li>
                    <li id="FAQ"><a href="./FAQ.html">FAQ</a></li>
                </ul>
            </nav>

        </header>

        <div class="Holygrail-body">

            <aside class="Holygrail-asideleft">
                                
            </aside>

            <main class="Holygrail-main">

                <a class="a_rejoindre" href="./metier_1.html">Metier 1</a>
                <hr>
                <a class="a_rejoindre" href="./metier_2.html">Metier 2</a>
                <hr>
                <a class="a_rejoindre" href="./metier_3.html">Metier 3</a>
                <hr>
                <a class="a_rejoindre" href="./metier_4.html">Metier 4</a>

            </main>

            <aside class="Holygrail-asideright">
            
            </aside>

        </div>

        <footer>
            <p>Contactez nous via le <strong><a href="./Contact.html">formulaire</a></strong>, par <strong>téléphone au 0123456789</strong> ou retrouvez nous directement en <strong><a href="./Boutique.html">boutique</a></strong>.</p>
            <hr>
            <div>
                <ul class="Réseau">
                    <li>Rejoignez nous</li>
                    <li><a href="https://www.facebook.com/DevialetGlobal/"> <img src="Images/JPEG/facebook.png" alt="facebook entreprise" /> </a></li>
                    <li><a href="https://twitter.com/devialet"> <img src="Images/JPEG/twitter.png" alt="twitter entreprise" /> </a></li>
                    <li><a href="https://www.linkedin.com/uas/login"> <img src="Images/JPEG/linkedin.png" alt="linkedin entreprise" /> </a></li>
                </ul>
                <div id="newletters">
                    <form>
                        <p>Newsletters</p>
                        <ul id="casenews">
                            <li><input type="email" name="email" placeholder="mail@domaine.com" id="mail"></li>
                            <li><input type="submit" id="submit" value="➤"></li>
                        </ul>
                    </form>
                </div>
            </div>

            <p id="copyright"> © 2019 Devialet All right reserved - Legal notices  </p>
            
        </footer>

    </body>

</html>